.tab-bar {
    display: flex;
    justify-content: space-between;
}

.status-and-url{
    /* color: var(--theme-foreground);
    background-color: var(--theme-background); */
    width: fit-content;
}

.tab-content[hidden] {
    display: none;
}

.align-left {
	float: left;
}
.align-right {
	float: right;
}

tr {
    text-align: left;
}

th {
    text-align: center;
}

table .key {
    font-weight: 500;
}

table .column {
    width: fit-content;
}

input {
    border: 1px solid var(--notebook-inactive-focused-cell-border-color);
    background-color: var(--theme-input-background);
    color: var(--theme-input-placeholder-foreground);
    padding: 10px;
}

input:active {
    color: var(--theme-input-foreground);
    border: 1px solid var(--theme-input-focus-border-color);
}

svg {
    width: 20px;
    padding-right: 5px;
    transform: translateY(5px);
}

.save-button {
    margin-left: 20px;
    background-color: var(--theme-input-background);
    border: none;
    padding: 2px 10px 10px 10px;
    opacity: 0.6;
    color: var(--theme-editor-foreground);
    border: 0.2px solid var(--theme-editor-foreground);
}

.save-button:hover {
    opacity: 1.0;
}

.search-button {
    background: none;
    border: none;
    padding: 0px 10px 10px 10px;
    opacity: 0.6;
    color: var(--theme-editor-foreground);
}

.search-button:hover {
    opacity: 1.0;
}

/*
 when ever themes not working
 checkout this page, and update colors accordingly, this information is not shown vscode docs
 so, don't delete this
 https://github.com/microsoft/vscode/blob/920ad7ca6e11485710d34c87bae49b2ce1a97509/src/vs/workbench/contrib/notebook/browser/view/renderers/webviewThemeMapping.ts
*/
button.tab {
    border: none;
    color: var(--theme-button-foreground);
    background-color: var(--theme-button-background);
    padding: 10px 30px 10px 30px;
    border: 0.2px solid var(--theme-input-border-color);
}

button:hover {
    color: var(--theme-button-hover-foreground);
    background-color: var(--theme-button-hover-background);
    cursor: pointer;
}

button.tab[active] {
    color: var(--theme-button-focus-foreground);
    /* background-color: var(--vscode-editor-background); */
    border-bottom: 2px solid var(--vscode-editor-foreground);
}

#data-container {
    max-height: 20em;
    max-width: 100%;
    overflow-y: scroll;
    font-family: Menlo, Monaco, "Courier New", monospace;
}

.execution-summary {
    opacity: 0.6;
    padding-left: 5px;
    border-width: 1px;
    border-style: solid;
    /* padding: 2px 2px 2px 2px; */
    /* margin: 0 1px; */
    font-size: 1.15em;
    margin-right: 1px;
    padding-left: 1px;
    background-color: lightgrey;
}


.request-url {
    opacity: 0.8;
    padding-left: 5px;
}

.status-label {
    /* padding: 2px 10px 2px 10px; */
    /* margin: 0 1px; */
    margin-right: 4px;
    font-size: 1.15em;
    border-style: solid;
    border-width: 1px;
    font-weight: 500;
}

.status-label-info {
    background-color: #CCCCCC;
    color: #333333;
}
.status-label-success {
    background-color: #CCFF99;
    color: #006600;
}
.status-label-redirect {
    background-color: #99CCCC;
    color: #003366;
}
.status-label-client-err {
    background-color: #FFCC66;
    color: #663300;
}
.status-label-server-err{
    background-color: #FF9999;
    color:#990000;
}

.search-term {
    background-color: yellow;
}


@media (max-width: 800px) {
    button.tab {
        padding: 10px 15px 10px 15px;
    }
}

#editor {
    width: 100%;
    height: 100%;
}
