name: commit-artifact

on:
  push:
    branches:
      - dev-*
      - main
  pull_request:
    branches:
      - dev
      - main

jobs:
    build:
        name: Generate commit artifact
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            - name: Setup node
              uses: actions/setup-node@v1
              with:
                  node-version: '14.x'
            - name: Setup Environment
              run: node -e "console.log('PACKAGE_VERSION=' + require('./package.json').version + '\nPACKAGE_NAME=' + require('./package.json').name + '-' + require('./package.json').version)" >> $GITHUB_ENV
            - name: Install
              run: |
                npm install
                npm install vsce --global
            - name: Package
              run: npm run package
            - name: 'Upload Artifact'
              uses: actions/upload-artifact@v2
              with:
                path: ./*.vsix
                name: dothttp-runner-preview-notebook.vsix
                retention-days: 3
